<header class="menu-top">
  <div class="content-wrapper-menu">
    <div>
      <nav>
        <ul id="menu">
          <li class="title-menu">
            CERTIFICADOS SESAB
          </li>
          <li>
            <a routerLink="/admin/evento">Eventos</a>
          </li>
          <li>|</li>
          <li>
            <a routerLink="/admin/participante">Participantes</a>
          </li>
          <li>|</li>
          <li>
            <a routerLink="/admin/usuario">Usuários</a>
          </li>
          <li>|</li>
          <li>
            <a routerLink="/index">Sair</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
