/* You can add global styles to this file, and also import other style files */

#body{
    margin:auto;
    width:70%;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 9pt;
  height: 100%;
  font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

a {
  color: #428bca;
  text-decoration: none;
}

  a:hover,
  a:focus {
    color: #2a6496;
    text-decoration: underline;
  }

  a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
